[2013-09-03 09:00] etienneCharignon opened #2 "Feedback"
Hi !

I've been using the eclipse plugin for a year and found it very convenient.
I did managed to install your plugin for intellij and it's working fine.
- I'm missing the formatting option (to setup tables in a readable manner) verymuch.
- The yellow color is too light to be readable on the default white background (that was easy to change anyway).

[2013-09-05 09:46] raboof opened #4 "Exception: next on empty iterator"
While editing a content.txt (writing a scenario table - no time right now to dive deeper into what triggered this, just logging the stacktrace for future reference)

next on empty iterator: next on empty iterator
java.util.NoSuchElementException: next on empty iterator
	at scala.collection.Iterator$$anon$2.next(Iterator.scala:39)
	at scala.collection.Iterator$$anon$2.next(Iterator.scala:37)
	at sc

[2015-08-16 18:56] amolenaar commented on #2
Hi,

What do you think of the 1.0 version?

[2015-08-16 18:56] #2 closed

[2015-08-16 18:56] amolenaar commented on #4
Hi,

What do you think of the 1.0 version?

[2015-08-16 18:56] #4 closed

[2015-08-17 08:25] etienneCharignon commented on #2
Hi,

I've not been using Fitnesse for almost two years now. I might need it in the coming weeks though. I'll comme back to you then.

[2015-08-19 16:49] gshakhn opened #11 "False positive error for note in script table"
If a script table has a row that starts with `*`, that row is ignored by FitNesse. The plugin still tries to find the fixture method for the row. Since it probably doesn't exist, we display a false error.

[2015-08-19 16:55] gshakhn commented on #11
Should also ignore rows starting with `note`, `#`, or a blank cell based on http://www.fitnesse.org/FitNesse.UserGuide.WritingAcceptanceTests.SliM.ScriptTable

[2015-08-24 18:28] JeremyCarlsten opened #12 "Formatting of pages"
It would be nice if the plugin was able to format the wiki page, I have looked into building something similar to your plugin as far as I can tell this feature would treat fitnesse wiki pages as if they were their own language? which you may already have going.

[2015-08-31 12:42] amolenaar opened #13 "Error initialising PSI stubs in IntelliJ 15-EAP"
When indexing a file I get this error in IJ 15:

[code]

[2015-08-31 12:47] amolenaar opened #14 "Can not parse FitNesse file in IntelliJ 15-EAP"
In an attempt to parse file in IJ 15-EAP I ran into this exception
[code]

[2015-08-31 12:47] amolenaar commented on #14
The page content is:
[code]

[2015-08-31 19:37] amolenaar commented on #12
Hi,

Your question/suggestion is not really clear to me.

Is your suggestion to add a "reformat code" option for wiki pages? The pages have their own have their own language indeed.

[2015-08-31 19:39] amolenaar commented on #11
I have to check for "note" rows. Can you provide an example for a row starting with "*".

It seems to me rows starting with a "#" are commented out.

[2015-08-31 19:43] amolenaar commented on #11
Ahhh... RTFM:

If the word note is in the first cell, all other cells in that row will be ignored.
Or if the first cell is blank.
Or if the first cell begins with # or *.

[2015-08-31 21:13] #11 closed

[2015-08-31 21:14] amolenaar commented on #13
Fixed by 9f5fe92

[2015-08-31 21:14] #13 closed

[2015-09-01 12:32] JeremyCarlsten commented on #12
Sorry I wasn't clear.

Fitnesse uses a wiki format

|my fixture|
|user clicks| this|
|sees that|

within fitnesse pages you can 'format them' for example the above would look like this:
|my fixture        |
|user clicks |this|
|sees that         |

much like intellij can format or 'reformat other languages like java or javascript via a hotkey (default is ctrl+alt+L i believe),  it would be nice to

[2015-09-01 21:23] amolenaar commented on #12
thanks for the explaination. I think it's not hard to do, but I'm not sure which extesion point to use.

[2015-09-02 13:25] JeremyCarlsten commented on #12
Without getting better familiar with your code I am not sure I will be much help. And sadly at home I am without internet currently, only at work and I don't believe they want me working on open source projects...

[2015-09-02 18:38] amolenaar commented on #12
I did some quick checking. I expect formatting to be quite difficult to implement. I'll add it to my to-do list.

Thanks

[2015-09-04 15:15] #14 closed

[2015-09-21 19:53] amolenaar opened #15 "Illegal access error in create class quick fix"
[code]

[2015-09-22 10:05] amolenaar commented on #15
Fixed in 1.1.1

[2015-09-22 10:05] #15 closed

[2015-11-06 08:33] amolenaar commented on #12
Fixed in release 1.2.0 :)

[2015-11-06 08:59] dvanderent opened #16 "Wiki page name incorrectly filled (on Windows machine)"
When we use right mouse click on a test, it fills a run configuration wiki page name with
"...:/Development/fitnesse-trunk/FitNesseRoot/ScrumTeams/TeamApollo/MeldingSchipPortAuthorityAjs/UseCases/UseCase1101RegisterNewVesselCall/MainScenario"
instead of:
"ScrumTeams.TeamApollo.MeldingSchipPortAuthorityAjs.UseCases.UseCase1101RegisterNewVesselCall.MainScenario"

[2015-11-06 09:10] #12 closed

[2015-11-06 09:15] #16 closed

[2015-11-06 09:20] dvanderent commented on #16
Wow, thats fast !
Thank you, looking forward to the update

[2015-11-06 09:33] amolenaar commented on #16
I just made a 1.2.3 release. The fix is in there.

[2015-11-06 13:54] dvanderent opened #17 "Always multiple candidates"
When I see a scenario used in a test, most of the times it says "Multiple candidates found"
As you see in the screenshot, this is correct but why are 4 libraries shown after Ctrl+click, when it actually are two :(

2 results is shown as 4
![multiplecandidates](https://cloud.githubusercontent.com/assets/15685600/10998516/dfb12e4e-8495-11e5-9eb6-06ab0d9496be.png)

1 result is shown as 2:
![image](ht

[2015-11-16 09:33] dvanderent opened #18 "Colour green in 'Dracula' not really green"
Please find a new colour green which works better for Dracula mode:
![image](https://cloud.githubusercontent.com/assets/15685600/11178437/34757c14-8c4d-11e5-9413-d5ada2a2fdf2.png)

[2015-11-16 10:52] amolenaar commented on #18
Good point, I wonder if darker background colours work, or that I have to figure out the theme and adjust the colours based on that. The error message is also not particularly readable.

[2015-11-16 21:35] amolenaar commented on #18
I tried setting the foreground colour explicitly (to black). In Darcula mode that becomes white:

<img width="426" alt="screen shot 2015-11-16 at 22 31 15" src="https://cloud.githubusercontent.com/assets/96249/11195368/e8b43d64-8cb1-11e5-8970-e4549f8711f5.png">

This is what default mode looks like:

<img width="428" alt="screen shot 2015-11-16 at 22 33 40" src="https://cloud.githubusercontent.com

[2015-11-17 10:36] dvanderent commented on #18
I must say your screenshots are a lot clearer...so you cannot really reproduce my issue. Why could that be?

[2015-11-17 12:21] dvanderent opened #19 "Fatal error"
Had just stopped a test and was editing the content.txt file that is used for that test...not aware of anything else I did...

null
java.lang.NullPointerException
	at fitnesse.idea.fixturemethod.CreateMethodQuickFix.getClassForFixtureClass(CreateMethodQuickFix.scala:58)
	at fitnesse.idea.fixturemethod.CreateMethodQuickFix.isAvailable(CreateMethodQuickFix.scala:30)
	at com.intellij.codeInsight.daem

[2015-11-17 16:14] amolenaar commented on #18
I could reproduce it. The screenshots I posted are my proposed solution :)

[2015-11-19 07:58] dvanderent commented on #18
As I said "a lot clearer" so this would probably work for me. Thank you. Looking forward to release.

[2015-11-20 12:08] dvanderent commented on #18
My colleague seemed to have it already (in Ultimate Edition), but I don't in Community Edition.
Any idea why that is?

[2015-11-20 12:30] amolenaar commented on #18
He built the plugin from source? I did not make a release yet. Will do, soon.

Fixed by 7d1e964.

[2015-11-20 12:30] #18 closed

[2015-11-20 12:31] amolenaar commented on #19
Fixed by 148c48a and 0939236.

[2015-11-20 12:31] #19 closed

[2015-11-20 12:32] amolenaar commented on #17
Still have to look into this.

[2015-11-20 12:32] amolenaar commented on #17
Can you sent me an example page that exhibits this behaviour? (preferably one)

[2015-11-25 08:46] dvanderent commented on #17
[content.txt](https://github.com/gshakhn/idea-fitnesse/files/43616/content.txt)

Is this enough?

[2015-11-25 08:49] amolenaar commented on #17
Thanks. I'll give it a try.

[2015-11-30 16:35] amolenaar commented on #17
Found it: your statements start with a capital character. The index is done twice: once for a "class name" like disgrace and one for a disgraced method name. E.g. a scenario named "click here" would be indexed as "ClickHere" and "clickHere", since it can be used both as a decision table name ("class") and a row in a script table ("method").

I'll add a check to add the item only once to the index

[2015-12-08 03:42] antrix opened #20 "Configurable whitespace in wiki page formatting"
Given a wiki block like this:

[code]

This plugin formats the above block of code like this:

[code]
whereas the Fitnesse project's browser-based editor formats the same block of code like this:

[code]
The difference is in the whitespace padding. This plugin has padding whereas the Fitnesse project's formatter does not include padding.

In our team, we have some folks using this plugin and some

[2015-12-08 09:48] amolenaar commented on #20
I expect the padding can be made configurable. Will set it to 0 spaces for a start to mimic the browser behaviour.

[2015-12-08 09:50] amolenaar commented on #17
Fixed by 03d1e6b8f016.

[2015-12-08 09:50] #17 closed

[2015-12-08 13:13] antrix commented on #20
That would be great. Thanks!

[2016-01-18 16:43] amolenaar commented on #20
Fixed in 1.3.1.

[2016-01-18 16:43] #20 closed

[2016-01-22 10:02] amolenaar opened #21 "Exception when loaded non-FitNesse project"
[code]

[2016-02-01 14:59] stela commented on #21
Thanks for the fix, got rid of the frequent NPEs but still got this one with a different stack trace:
[code]

[2016-02-01 19:44] amolenaar commented on #21
Thanks I'll add some extra checks around this code.

[2016-02-01 20:11] amolenaar commented on #21
Okay, I think I nailed it now. Release 1.4.3 is on the way.

[2016-02-01 20:11] #21 closed

[2016-02-24 11:01] stela opened #22 "Exception with IntelliJ 16 EAP"
Got this exception when loading a fitnesse project using IntelliJ 16 EAP. The filename reported changes occasionally (maybe the order they are processed is a bit random?). I didn't manage to trigger it using IntelliJ 15.
[code]

[2016-02-24 11:15] amolenaar commented on #22
Thanks! I'll dig into it.

[2016-02-24 16:45] amolenaar commented on #22
I fiddled a little with content.txt pages in IntelliJ IC 16 EAP (with the latest FitNesse plugin installed), but I can not reproduce the error so far.

Is it a specific page (or specific content) that caused the problem? Can you share your page content?
Are there any actions I should perform to trigger this exception?

[2016-02-24 16:53] stela commented on #22
Our fitnesse scripts are fairly complex with lots of includes and such, so not easy to make a minimal sample which reproduces it. It does look like it gets stuck on one or two scripts all the time, might well be due to contents and not by random ordering then if you can't easily reproduce it. It's for work so can't share the whole project.

[2016-02-24 16:59] amolenaar commented on #22
The content parsing is my prime suspect. I'm using FitNesse's native parser to process the pages, so it may turn out that there is something going wrong there.

You can also send the page directly to me if you do not feel like posting the content here (gaphor@gmail.com).

[2016-02-24 17:18] stela commented on #22
OK, could simply be that the page is broken syntactically without me realizing it... If so, wouldn't it be better to mark the broken parts of the page red, marking it with an error message and catching the exception?

[2016-02-24 20:45] amolenaar commented on #22
If for some reason a part of the page is invalid, the parser should treat it as plain text. That's how the wiki parser does its rendering. More complex elements, such as !include statement, need to figure out their offset themselves, which might result in offset differences. IIRC the highlighter wants regions to be connected. In IJ 16, the parser might have become more picky.

[2016-03-11 12:45] RenzoH89 opened #23 "Symbolic links not supported?"
When opening our FitNesse project in IntelliJ (15), combined with the FitNesse plugin, IntelliJ keeps indexing the project and seems to get stuck in the process. Disabeling the plugin and restarting IntelliJ stops this issue.

One interesting note: The indexing gets stuck on a content.txt page which exists due to a Symbolic link in the corresponding properties.xml of that page. Could this be the c

[2016-03-11 15:15] amolenaar commented on #23
That's weird. This should not happen (obviously ;) ). The page is parsed by the wiki parser, so there may be some relation there.

How can I replay this? Can you share the (stripped down) content and file structure, so I can reproduce this myself?

[2016-03-23 09:32] RenzoH89 commented on #23
Sorry! Would have wanted to get back to you earlier, but I've been out for some time.

Deleted almost all content but it still happens with the content in the attachment. Also tried it on the machines of some of my colleagues, same issue occurs.

[ServiceTestSuite2.zip](https://github.com/gshakhn/idea-fitnesse/files/185693/ServiceTestSuite2.zip)

[2016-03-23 09:40] RenzoH89 commented on #23
Sorry, have to check it again. Just before uploading I deleted some additional content. No it doens't seem to happen anymore... I'll get back to you after retracing my steps.

[2016-03-23 09:59] RenzoH89 commented on #23
Well, I not sure what happened above, but you should be able to reproduce the issue using this attachment.
[ServiceTestSuite5.zip](https://github.com/gshakhn/idea-fitnesse/files/185729/ServiceTestSuite5.zip)

[2016-03-23 13:05] amolenaar commented on #23
Thanks, I'll give it a try.

[2016-03-23 22:19] amolenaar commented on #23
I did some checks. The conflicting line seems to be

    !define ArrangementToOrderAccountNumber {125673051}|

[2016-03-28 09:29] amolenaar commented on #23
I just release 1.4.4. It fixes this issue.

[2016-03-28 09:29] #23 closed

[2016-03-28 09:32] amolenaar commented on #22
Can I close this issue?

[2016-03-30 08:08] stela commented on #22
Looks like this issue is resolved with 1.4.4 :-)

I still got a lot of "java.lang.IllegalStateException: Unexpected termination offset for lexer fitnesse..." when opening the fitnesse project and selecting "File - Invalidate Caches/Restart" when using version 1.4.3.
I updated the fitnesse plugin to version 1.4.4 and now the errors are gone, thanks.

(now though, all fitnesse scripts seem to claim

[2016-03-30 19:34] amolenaar commented on #22
Are your fixtures in Java? That's currently the only language the FitNesse plugin can deal with.

[2016-03-30 19:51] stela commented on #22
Yes, they are all Java. They are included via the pom.xml from a separate project. IntelliJ itself can find open them from the Fitnesse project.

[2016-03-31 07:04] amolenaar commented on #22
Indeed. The current search scope is limited to source, test and module dependencies. Libraries are not included in the search. Before I can broaden the scope to libraries, the plugin needs to handle import paths properly, so a lookup results in less false positives.

Having that said, would it make sense to join the FitNesse module with the fixtures? I think it would make sense to have high-level/

[2016-03-31 11:38] RenzoH89 commented on #23
Very much appreciated!

[2016-04-11 14:26] amolenaar opened #24 "Navigate to constants"
Add support to navigate to `!define` variables.

[2016-04-26 21:10] amolenaar opened #25 "Exception in FitNesse plugin"
I ran into this exception when started the fitnesse project
[code]

[2016-05-26 11:37] stela opened #26 "Unused Declarations (for Java) inspection gives no results"
Using IntelliJ 2016.1 (and current 2016.2 EAP), when enabling the fitnesse plugin, IntelliJ fails to report unused methods in every project, even for a tiny "hello world" project unrelated to fitnesse.

Normally if you e.g. create an unused private method, it'll be marked as grey with a warning, likewise the menu choice Analyze - Run Inspection by Name - "Unused declaration - Java" gives no result

[2016-06-11 15:32] amolenaar opened #27 "ordered query not supported?"

[2016-07-27 21:22] #22 closed

[2016-07-27 21:22] amolenaar opened #28 "Broaden search scope for fixtures"

[2016-07-27 21:23] amolenaar opened #29 "Support .wiki file format"
See https://github.com/unclebob/fitnesse/pull/952.
- [x] Add support for .wiki files
- [x] Update FitNesse library
- [x] Add support for wiki links to .wiki files

[2016-07-28 20:14] amolenaar commented on #27
Actually, this goes wrong with escaped tables:

    !|script:name|

is parsed as WORD "script:name"

[2016-07-28 21:08] amolenaar commented on #27
Fixed in 965cf6daf04e0bc218ac3e188189cfdbd34788a6.

[2016-07-28 21:08] #27 closed

[2016-08-01 11:14] #28 closed

[2016-08-01 12:23] amolenaar commented on #26
I've reproduced this. This is not what we want, obviously ;).

[2016-08-01 13:37] #26 closed

[2016-08-04 20:40] amolenaar commented on #25
Gone?

[2016-08-04 20:40] #25 closed

[2016-08-04 20:51] amolenaar opened #30 "Add full support for wiki link resolving"
Now only sibling pages (with content.txt file) can be resolved.
- [x] Support absolute link references (e.g. `.FitNesse`)
- [x] Support ancestor page references (e.g. `<FitNesse`)
- [x] Support child page references (e.g. `>FitNesse`)

[2016-08-25 15:03] fhoeben opened #31 "Method rename breaks existing scripts/scenarios"
When I use IntelliJ's rename method function on one of my fixture methods, its usage in scripts in the wiki is corrupted.

1. I have a fixture method `currentSystemTime()` used inside a script table as `|show| currentSystemTime|`
2. I rename the method to `currentSystemTime2()`
3. My script table line is changed to `|currentSystemTime2|`

1. I have a fixture method `currentSystemTimeAs(String form

[2016-09-17 08:43] amolenaar opened #32 "Unique label for open files"
When you open 3 pages named "ScenarioLibrary", all pages will be named the same, which makes it hard to find the right page from the tab name.

Provide names that express a bit of context in case multiple tabs have the same name.

Have a look at the Gradle plugin for inspiration.

[2016-11-04 14:55] keetron opened #33 "no fixture method found error"
I am using the Xebium plugin in fitnesse and now the intellij plugin gives me the above error. I have a hunch there is a setting I cannot find or set wrong. Where should I look?

[2016-11-04 15:42] amolenaar commented on #33
Ah, That's because the fixture is located in a library, and not in your project/module. I did not include the libraries in scope, to avoid the clutter when using code completion.

I should add a configuration setting some day...

[2016-11-09 07:22] keetron commented on #33
Would you consider it an easy fix, as the code is cluttered anyway and I find the red lines much more distracting than code completion examples?
In my opinion, having the libraries included would add to code completion more than excluding them.

[2016-11-24 12:00] keetron opened #34 "Update for newest FitNesse version"
Even though many of the lines in my code are red due to the other issue I made, I love the "ctrl-click to jump to sccenario in use".
With the newest FitNesse version storing the wiki context.txt pages not in a folder with properties but in a .wiki file directly in the parent folder, these latter are not recognized by the plugin as FitNesse files.

[2016-11-24 12:21] amolenaar commented on #34
I already prepared the plugin to work with the .wiki files. I have to find some time to finalise it and make a release.

[2016-11-28 07:35] #33 closed

[2016-11-28 07:36] amolenaar commented on #30
fixed

[2016-11-28 07:36] #30 closed

[2016-11-28 07:36] #29 closed

[2016-11-28 07:36] #34 closed

[2016-11-28 15:01] amolenaar commented on #34
I just made a release. It shouldn't take long for your IntelliJ to figure that out :)

[2016-11-28 16:00] keetron commented on #34
Thank you for your effort :-)

[2016-11-29 09:02] keetron commented on #33
Version 1.6.0 doesn't make a difference, still get the same message "No fixture method found" on about all of the commands given. How did you implement this search? Could it be we put the libraries in the wrong place?

[2016-11-29 09:07] keetron commented on #33
Ok, maybe a forced re-indexing is needed as it seems to work well on another project?

[2016-12-15 14:20] keetron opened #35 ""Folded" blocks are shown on the same line"
When using !*> to fold in a block, these are folded in IntelliJ as well. I like this feature.
However, the blocks are not shown on seperate lines but on the same. When unfolding, the folded ones remain on the same line, the unfolded is displayed fully.

If wanted, I can create some code and show screenshots.

[2016-12-16 07:32] keetron commented on #35
Wanting to give you some screenshots without showing you the horrible code we use this for, I discovered some things:
- It cannot be reproduced on a brand new file
- When adding a blank line between the *! and !*> statements, it works well
- When adding and removing line ends on an old file, this cannot be reproduced

It could very well be that this again has to do with our Git/Windows setup and h

[2016-12-16 07:32] #35 closed

[2017-01-23 08:02] keetron opened #36 "No fixture found message when using plugins"
This seems similar to #33 which was closed as being fixed, which might be the case for a lot but not for everything.
It still does not include plugins, such as HSAC which is a shame as we build just about all our tests in that and it gives me a ton of red squiggly lines and removes the ability to check what is going on when using this fixture.

[2017-01-23 10:46] amolenaar commented on #36
I'll need to have a look then. I suppose the plugins are listed under 'External libraries' (project view).

[2017-01-23 10:50] amolenaar commented on #36
I have junit-4.12.jar in my list of external libraries. If I create a table

   | base test runner |

The Go to Declaration command (cmd/ctrl-b) jumps to the class in the JUnit jar file.

[2017-01-24 09:06] keetron commented on #36
A bit more information:
The plugin .jar is in the $FITNESSE_HOME/plugins folder
the pom.xml contains the following
`<dependency>
   <groupId>org.fitnesse</groupId>
   <artifactId>fitnesse</artifactId>
   <version>${fitnesse.version}</version>
   <scope>provided</scope>
</dependency>

<dependency>
   <groupId>nl.hsac</groupId>
   <artifactId>hsac-fitnesse-fixtures</artifactId>
   <version>2.10.0</v

[2017-01-24 10:29] keetron opened #37 "New Suite pages made using IntelliJ are incomplete (in a way)"
This might be by design but when I make a new, empty Suite using the wiki front-end, the content of SuiteName.wiki is by default:

[code]

When making a new Suite page using IntelliJ Alt-Ins (which I think is the best thing since grilled-cheese sandwiches), the content is:

[code]

The result of this last one is that the test files in the suite folder are not counted as content and I have to type

[2017-01-24 10:31] keetron opened #38 "New suite page does not create a folder for tests"
When creating a new suite page using the plugin, it does now make a folder to put my tests in with the name of the suite. Now I make the folder by hand with the chance of mistyping the name and it is more work which as you know, I am trying to avoid.

Or is this a feature because how git handles empty folders?

[2017-01-24 15:53] amolenaar commented on #38
Automatically adding a folder for a suite (given you select one) does sound like a valid addition.

Thanks for pointing out.

[2017-01-26 13:34] keetron commented on #36
Okee, after a lot of searching we found out what the issue was and it is very possible it was my/our fault.

The fitnesse folder was not part of a maven project, which is why the plugins were not indexed. Now that we included the folder in the maven profile, most of my squiggly worries are gone.

[2017-01-26 13:34] #36 closed

[2017-01-26 13:36] keetron commented on #37
Workaround for now:
in project view, click alt-Insert
click: Edit File Templates
Create a template called FitnesseSuite, give it the desired content and .wiki extention
It works kinda, I now have two entries for FitNesse.

It would be best if we could edit the new file templates in this dialog but we could not find it.

[2017-01-26 15:53] amolenaar commented on #36
Cool. Thanks for the update.

[2017-01-27 08:40] keetron commented on #37
I put in a PR because I was curious how difficult it could be. Truth be told, I did not compile and test because I had to take my kids to school (and had no idea how to start all that)

[2017-02-01 21:43] amolenaar commented on #38
I merged your (and @fhoeben's) PR. Thanks!

[2017-02-01 21:43] #38 closed

[2017-02-01 21:46] amolenaar commented on #37
I merged it. Now, for the suite page, the contents is shown, as your PR suggested.

Ideally, it should look up for a TemplateLibrary folder and use that instead, but that'll be somewhat more work.

For now I suppose this is sufficient?

[2017-02-02 20:44] keetron commented on #37
Not sure about integrating the TemplateLibrary into the plugin, as I am not to familiair with the function of that. Let me try it out in some project I am currently working on but you are probably right.

With that in mind, now when making a new page, there is the option to choose between old and new style. It would make sense to only show those that the FitNesse installation prefers. So old style

[2017-02-11 11:52] keetron opened #40 "scenario linking"
Need to retest this with last week's version of the plugin, but I encountered a bug that the plugin is not indexing a nephew scenario library, but only when using old style pages. When testing it is not an issue, they are found fine, so it is not hindering in any way.

New style *.wiki pages in the same folder are indexed just fine.

For me, now that I use IntelliJ almost exclusively as an editor

[2017-02-12 15:58] keetron opened #41 "unindexed maven repo's"
![image](https://cloud.githubusercontent.com/assets/8872839/22863635/2f5cc54a-f144-11e6-8033-60952e573ee8.png)

I already changed it to https over http as shown in the bintray.com/fitnesse/edge site, but still I get this error when trying to view the source. Now it also complains in code pages that some functions cannot be resolved.

As you might have guessed from a lot of my tickets, I am only so

[2017-02-12 19:31] keetron commented on #41
pff, never mind, pebkac...

[2017-02-12 19:31] #41 closed

[2017-02-14 15:06] keetron commented on #36
For future readers: add your pom.xml to maven by right-clicking and select "add maven project"
Reload the open wiki files and your squigglies should be gone.

Another thing is that a table without a script or scenario declaration will not have a fixture to choose from and will give errors by default.

In hindsight, this is all very logical.

[2017-02-14 15:13] keetron opened #42 "ToDo comment count (feature)"
Not sure how to mark this a feature request.
A comment marked as todo is not counted from the wiki files.
I think it is a neat feature from IntelliJ where todo's are counted and would like to use this thing when writing tests as well.

Very possible I am doing something wrong myself but I have a feeling .wiki and context.txt files are simply not included in the "todo" search.

[2017-04-20 04:56] patkoscsaba opened #43 "Tests won't run any more"
Hi there. I am working on a project and I had your plugin installed for some time. About a year or so ago it was working without issues. However I didn't used it for a long time and at some point, about 3-4 months ago, I observed it started failing all the time. I didn't gave it much attention because our fit tests are passing at deploy time on our servers, so I presumed it was a bug of yours. As

[2017-08-15 19:20] fhoeben opened #44 "Copy from tables does not work for 2017.2"
When I try to copy one ore more rows from a table in a .wiki file nothing gets copied to the clipboard.

Normal text gets copied no problem, or when I break the table (e.g. by adding a single line containing only a '|' below the table) all lines can be copied. The first line of a table also does not seem to suffer from the issue.

But other lines in the table (especially when they contain multiple

[2017-08-15 21:23] amolenaar commented on #44
A (temp.) workaround is to disable the option _Copy as rich text by default_ in the Preferences dialog.

<img width="1100" alt="screen shot 2017-08-15 at 23 21 59" src="https://user-images.githubusercontent.com/96249/29337137-91d90c3a-8210-11e7-92aa-ebca9a286aac.png">

So I think I narrowed it down to rich text copy stuff.

[2017-08-15 21:26] fhoeben commented on #44
Seems to work for me. Thanks!

[2017-10-06 07:17] amolenaar commented on #44
See also https://youtrack.jetbrains.com/issue/IDEA-179660

[2017-10-14 20:35] amolenaar commented on #44
Fixed in 1.8.0

[2017-10-14 20:35] #44 closed

[2017-10-14 21:20] fhoeben commented on #44
Thanks!

[2017-10-15 15:16] amolenaar commented on #40
Looks like it's working with 1.8.0 at least...

[2017-10-15 15:19] amolenaar commented on #43
Can you provide me with an example project? Have you defined a `plugins.properties` and, if so, what's defined in this file?

[2018-07-13 13:06] JThoennes opened #46 "No fixture method found should be relaxed or updated for "ddt" dynamic decision tables"
Hi,

it is a great feature to verify and hyperlink the fixture methods from the table heading.
But this does not seem to work for dynamic decision tables (ddt) so this should be adapted or
even disabled here to avoid false Error messages "No fixture method found".

Thanks!

[2018-07-13 13:34] amolenaar commented on #46
Hi,

Can you provide me with a concrete example? It would be really, really awesome if you can provide a PR too :)

[2018-07-13 17:17] JThoennes commented on #46
Basically a normal FitNesse test expects table heading named e.g. "ABC" as setABC in the code.
But a dynamic decision table market as "ddt: Some Test Name" is implemented as class SomeTestName, but with setters like set( "ABC", value ) being more dynamic and flexible.
So in this case you cannot validate the existence of setters since they are dynamically processed.
Table looks like this:
`|ddt: So

[2018-07-13 17:18] JThoennes commented on #46
This about the Slim syntax in FitNesse, which supports this `ddt: ` prefix.

[2018-07-13 17:20] JThoennes commented on #46
Here is a good description:
http://fitnesse.org/FitNesse.FullReferenceGuide.UserGuide.WritingAcceptanceTests.SliM.DynamicDecisionTable
Basically, you have to disable some checks in your code which should be simpler than adding new ones :-)

[2019-02-11 16:18] fhoeben opened #47 "Upgrade to support latest FitNesse version"
Upgrade bundled fitnesse.jar to latest version to support Java 9+, remove dependency on commons-lang 2 (replace by commons-lang3).

The fitnesse.jar bundled in the current plugin does not work Java versions beyond Java 8. There was a classloader issue which was addressed in recent FitNesse releases, but those releases are not included in the latest release of the plugin.

When I disable the 'Use F

[2019-05-22 15:32] Cyllceaux opened #49 "Error running 'Fitnesse': Command line is too long"
since Intellij 2019 I got this Exception:
Error running 'Fitnesse': Command line is too long. Shorten command line for Fitnesse or also for FitNesse default configuration.

When I try to shorten, there is no option for that like in Unittests: "Shorten Command line"

[2019-08-09 11:04] hurricup opened #50 "Lexer exception"
Build: IU-192.5728.98
OS: Linux amd64 3.10.0-957.12.2.el7.x86_64
Java Vendor: JetBrains s.r.o
Java Version: 11.0.3
Java Arch: 64 bit
Java Runtime Version: 11.0.3+12-b304.10
[code]

[2019-08-09 11:05] hurricup commented on #50
When working on a fitnesse wiki page that starts as below, it is impossible to type on the line which starts "!****>"
Test
!****> Setup Fitnesse Configurationi

|Define table type |
|Status Report |as Query|

[2019-08-21 16:25] Thomas-S commented on #49
I can confirm this. The plugin is useless under Windows since IntelliJ 2019

`Error running 'Suite.Test.01': Command line is too long. Shorten command line for Suite.Test.01 or also for FitNesse default configuration.`

IntelliJ offers this feature since October 2017: https://blog.jetbrains.com/idea/2017/10/intellij-idea-2017-3-eap-configurable-command-line-shortener-and-more/

[2019-08-22 07:03] amolenaar commented on #49
Can you give me some insights into what the command line is? It should be printed as part of the output. Is it the actual Fitnesse (runner) binary or the Slim (SUT) command line that's too long?

[2019-08-22 18:50] Thomas-S commented on #49
I only have a suspicion based on the things I read in the aforementioned blogpost.

My guess is that the plugin performs a java-command and passes the classpath (which might be very long depending on the fitnesse project and its dependencies) as a command line argument (CLA).

something like:
`java -cp 'lib/lib1.jar ... lib/lib100.jar' FitNesseClass <SuiteName>` - This might exceed the maximum len

[2019-11-28 12:48] amolenaar opened #51 "Add a logo"
As of IntelliJ 2019.1, you can add a logo to the plugin.

https://www.jetbrains.org/intellij/sdk/docs/basics/plugin_structure/plugin_icon_file.html

[2019-12-09 14:35] Thomas-S commented on #49
I would like to push this issue again. The plugin cannot be used to execute FitNesse tests at the moment.

Syntax highlighting and source code jumping is functional.

[2019-12-31 10:30] fhoeben opened #53 "Support IntelliJ 2019"
The plugin works with IntelliJ 2019, but building with 2019 as dependency fails. Some classes have moved to separate .jar files and others seem to have been removed completely.

I was unable to find mention of the removed classes in the documentation, maybe they have been removed for quite some time?

This will hinder development of a new version should it be necessary...

My current (not compilin

[2020-01-02 09:26] amolenaar opened #54 "Migrate this repo to the fitnesse organization"
@gshakhn How do you feel about moving this repo to the fitnesse organization? It would be easier to manage access for people to work on this project.

[2020-01-02 09:28] #47 closed

[2020-01-13 01:51] gshakhn commented on #54
@amolenaar Apologies for the delay in responding. Email got lost over the holidays.

I'd be happy to transfer the repo over. You're doing all of the work already. I just tried to transfer ownership, but GitHub says a [repo with that name already exists](https://github.com/fitnesse/idea-fitnesse) and I need permission to create public repositories in that organization.

if you want, I can transfer

[2020-01-15 18:51] amolenaar commented on #54
If you transfer to me I'll make sure it ends up in the FitNesse organization.

[2020-01-16 04:07] gshakhn commented on #54
The repository transfer has been requested.

[2020-01-17 22:14] amolenaar commented on #54
Thanks. Let's see how long it takes. (not transferred yet)

[2020-08-10 13:22] fhoeben opened #55 "Plugin does not work with IntelliJ 2020.2"
(copied from review at https://plugins.jetbrains.com/plugin/7908-fitnesse by Mathias Rühl)

FitNesse Plugin 1.10.1 leads to exceptions in IntelliJ 2020.2 with FitNesse Version "fitnesse-standalone-20190716.jar".
I had to disable/uninstall that Plugin to have a working IDE, as IntelliJ does not behave correctly when the Exception occur.

[code]

[2020-08-10 13:25] fhoeben commented on #55
It looks like the new IntelliJ version checks whether all token generated by the plugin's lexer have continuous offsets.
The FitNesseLexer seems to reset the offset to 0 when a collapsible section is ended, resulting in a lower start offset after the section than the end offset of the section. This causes the exception I believe.

[2020-08-10 14:27] fhoeben commented on #55
On closer inspection the problem seems to be that the lexer generates 1 token for the entire section, and then tokens for the section's content. That is not what IntelliJ expects...

[2020-08-11 07:05] timovd commented on #50
This is with IntelliJ 2020.2 like https://github.com/gshakhn/idea-fitnesse/issues/55 ?

[2020-08-11 10:46] pavelkostyurin opened #56 "Syntax checking"
Is it possible to have 'standard' spellchecking for commentaries to scripts? IntelliJ IDEA provides this feature for .java files.

[2020-08-11 12:20] fhoeben commented on #55
Via Slack I queried why these new checks were added. I got the following reply:

these checks were added inspired by problems like this https://github.com/SeeSharpSoft/intellij-csv-validator/issues/204, see com.intellij.openapi.editor.ex.util.ValidatingLexerWrapper javadoc

[code]

[2020-08-11 12:35] fhoeben commented on #55
I believe the following test in `src/test/scala/fitnesse/idea/lexer/MiscLexerSuite.scala` shows the issue

[code]

Some other tests in this suite will probably also need to be adjusted when this issues is solved.

[2020-08-17 20:49] #55 closed, assigned to nobody

[2020-08-18 05:50] fhoeben commented on #51
fixed in 1.11.0

[2021-04-09 08:20] timovd opened #57 "Error when searching in IntelliJ 2021"
IntelliJ Plugin version: 1.11.0
IntelliJ 2021.1

Find in Files (CTRL + Shift + F)
enter the text you want to search for

Error:
`java.lang.StackOverflowError
	at fitnesse.wikitext.parser.ScanString.charAt(ScanString.java:64)
	at fitnesse.wikitext.parser.ParseSpecification.findMatch(ParseSpecification.java:64)
	at fitnesse.wikitext.parser.Scanner.makeNextStep(Scanner.java:101)
	at fitnesse.wikitext

[2021-04-11 12:13] fhoeben opened #58 "Move away from Bintray"
This project's build is currently using [Bintray](https://bintray.com) . This service will be [discontinued by May 1st 2021](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/), we should switch to an alternative.
Probably easiest to go directly to https://oss.sonatype.org (this is already being used to publish FitNesse itself to Maven Central (via Bintray). I don't b

[2021-04-11 13:22] fhoeben commented on #57
I fear this might be related to something on your wiki page. I don't get the error message in my project.
Can you always get the error even with an empty, very small project? If not can you see whether you can determine what content causes the issue?

[2021-05-03 11:11] JThoennes commented on #55
Hello,
since version 1.12.0 it seems this issue has been reappeared:
[code]
It also happens all the time with IDEA 2021.1.1.

[2021-05-03 16:25] fhoeben commented on #55
@JThoennes Do you have a sample wiki page that shows the issue? The tests I added at the time still seem to be green, and locally I don't see the issue immediately either...

[2021-05-03 16:35] JThoennes commented on #55
@fhoeben will try to find a sample among the many pages we have. Thanks for taking care of that.

[2021-05-04 11:47] JThoennes commented on #55
@fhoeben , the page boils down to this simple example:
[code]
The error happens if there is no line between the `!*` and the final `*!`.

In addition, this sequence does not look correct in IntelliJ:
[code]
The trailing `*!` seems to be merged with the leading `!*`.
Looking forward to your changes :-)

[2021-05-04 11:58] JThoennes commented on #46
@amolenaar Of course, I would like to provide a PR, but I wonder whether this is still the current repository or it has been moved.
In addition, I am new to IntelliJ plugins and wonder where to start with. Cheers, Jörg

[2021-05-04 12:06] JThoennes commented on #55
@fhoeben For example:
[code]
results in:
[code]

[2021-05-05 11:11] JThoennes commented on #31
@fhoeben Reading this issue it is not clear to me what the expected behavior is. You just describing the actual one.
Ideally you say: I expected this result, but it appears to be that result.

[2021-05-05 12:55] JThoennes commented on #54
@amolenaar @gshakhn Just wondering -- is it transferred?

[2021-05-05 13:38] JThoennes commented on #55
@fhoeben I am struggling with:
[code]
so I cannot debug this with IntelliJ. Any help appreciated.

[2021-05-05 14:13] fhoeben commented on #31
@JThoennes the methods not containing the method name are messed up:

so:
 * I want to get `|show| currentSystemTime2|` but get `|currentSystemTime2|`
 * I want to get `|show |current system time as2|HH:MM:ss.SSS|` but get `|current system time as2|HHMMSsSSS|`

[2021-05-05 14:15] fhoeben commented on #55
I'm no scala programmer, so I don't know. But some Googling let me to:
https://stackoverflow.com/questions/39791996/scala-reflect-internal-missingrequirementerror-object-java-lang-object-in-compi#answer-39795029

Which Java version are you debugging with? I expect it should be Java 8

[2021-05-05 14:52] JThoennes commented on #55
@fhoeben So at least the test case fails on the command line as expected.
Googling myself, I previously also found this SO article. And I am using Java 8.
But I did not get it working so far... Guess you have working setup :-)

[2021-05-06 12:43] JThoennes commented on #51
@fhoeben The current version 1.12 does not contain the logo. Wondering why...

[2021-05-06 13:00] JThoennes commented on #50
@hurricup You should use "Insert code" to get the code block with the page content, e.g.
[code]
I cannot see what your file shall exactly contain.

[2021-05-06 13:13] hurricup commented on #50
It was too long ago, I don't even remember the case, sorry

[2021-05-06 16:02] fhoeben commented on #51
@JThoennes  I probably messed up the build/deploy. Sorry...

[2021-05-07 10:41] JThoennes commented on #50
@fhoeben @amolenaar This issue should be closed because it is outdated and cannot reproduced.

[2021-05-07 11:26] fhoeben commented on #50
I don't have permission to close this issue

[2021-05-07 11:55] JThoennes commented on #50
@fhoeben @amolenaar I guess this lacking permission is also related to the ongoing transfer of the repo.

[2021-08-02 16:55] Eemss opened #59 "Plugin no longer working in IntelliJ 2021.2"
Plugin version: 1.12.0
IntelliJ version: IntelliJ IDEA 2021.2

Plugin has stopped working since upgrading to IntelliJ 2021.2.

I see some of these stacktraces in the log:
`2021-07-30 09:52:16,895 [  11017]   WARN - util.DeprecatedMethodException - The default implementation of method 'com.intellij.execution.configurations.ConfigurationFactory.getId' is deprecated, you need to override it in 'class

[2021-08-23 12:10] Gertray13 commented on #59
Same here unfortunately. Rollback to IntelliJ v2021.1 and the plugin works again.

[2021-08-25 07:33] hordosikrisztian commented on #59
Hi @fhoeben and @amolenaar,
I too experience the bug.
When can we expect a fix for the above issue?

[2021-08-25 17:42] amolenaar commented on #59
Hi, I no longer actively maintain this plugin. I'm happy to merge a PR and make a release though 🙂.

[2021-08-26 10:48] Eemss commented on #59
Ah, thanks :-) I'm wondering though: I see version 1.11.0 here on github, but 1.12.0 on plugins.jetbrains.com which was uploaded in april of this year. Any idea where that version came from?

[2021-08-26 15:56] Gertray13 commented on #59
@Eemss, yes it comes from here made on april 11th:
https://github.com/fitnesse/idea-fitnesse/releases

[2021-08-29 08:29] hordosikrisztian commented on #59
@gshakhn, could you take a look at this, please?

[2021-09-01 09:35] fhoeben commented on #59
Other users are reporting the plugin still works for them. Can you be more specific what you are doing when you see this error? E.g. are you using the full or community version of IntelliJ, is it on opening IntelliJ, have you configured the plugin to use the bundled FitNesse or the one in your project, opening a wiki page (all pages or a specific one), running/debugging a wiki page (all pages or a

[2021-09-02 06:30] hordosikrisztian commented on #59
I use the Community version, but whether I'm using the bundled one or our own project version of FitNesse by starting any wiki page I get the following error:

Access is allowed from event dispatch thread only

com.intellij.openapi.diagnostic.RuntimeExceptionWithAttachments: EventQueue.isDispatchThread()=false Toolkit.getEventQueue()=com.intellij.ide.IdeEventQueue@36020061
Current thread: Thread[A

[2021-09-02 13:40] Gertray13 commented on #59
Hi @fhoeben,
I am using:
- IntelliJ IDEA 2021.2.1 Ultimate Edition
- FitNesse version `20210606`
- FitNesse plugin version `1.12.0`

Problems are (after upgraded to IntelliJ 2021.2):
1. Directly at restart after upgrading, plugin stopped working. Have the same stacktrace at thread starter.
2. `.wiki` pages not recognized anymore by the plugin while `context.txt` does. This means no more profit of

[2021-09-02 13:58] Unforgettable631 commented on #59
Looks more like the file association is gone :-). Please check if the file association is still there after upgrading. It doesn't always automatically work.

IntelliJ -> Settings -> Editor > File Types (or just search for File Types in Settings). Search for `FitNesse file` as `Recognized File Types` and check whether or not file name pattern of `*.wiki` is still there. If not assign it. Maybe you'

[2021-09-03 11:57] Gertray13 commented on #59
@Unforgettable631, thank you a lot it worked! Everything works as expected again for me.
A simple but effective fix. Never knew an upgrade can mess your configuration.

[2021-09-03 13:51] Eemss commented on #59
I am using IntelliJ IDEA 2021.2.1 Ultimate Edition and plugin version 1.12.0. The error occurs regardless of whether I use the bundled Fitnesse jar or not.

I am getting the same error as @hordosikrisztian

`Access is allowed from event dispatch thread only

com.intellij.openapi.diagnostic.RuntimeExceptionWithAttachments: EventQueue.isDispatchThread()=false Toolkit.getEventQueue()=com.intellij.ide

[2021-09-06 06:07] hordosikrisztian commented on #59
@Unforgettable631, thanks for the tip, the file association was gone for me as well, however the problem reported by @Eemss still persists. @fhoeben, please address the issue or forward it to the active maintainers. Thank you!

[2021-09-06 08:38] Unforgettable631 commented on #59
@hordosikrisztian, @Eemss, you are using the plugin to **start** FitNesse I guess? I (our project) use(s) maven to build and start FitNesse. I can reproduce the same error indeed when starting FitNesse with the plugin but I never did that in the past.
![image](https://user-images.githubusercontent.com/26714288/132186955-4d1a8010-50df-4e31-be2b-44d534ca1616.png)

[2021-09-06 14:43] hordosikrisztian commented on #59
@Unforgettable631, yes, thank you, that is exactly how the issue appears. :+1:

[2021-09-09 06:14] hordosikrisztian commented on #59
@Unforgettable631 , could you please address this issue or forward it to the active maintainers?

[2021-09-25 07:50] hordosikrisztian commented on #59
@gshakhn , @Jessevanbekkum , @keetron , @etienneCharignon
I can see that you have contributed to the project, could any of you address this issue? If not, who is actively maintaining this plugin?

Another user has also reported the problem on the official JetBrains plugin site.
https://plugins.jetbrains.com/plugin/7908-fitnesse

This page might be helpful for solving the issue:
https://plugins.jet

[2021-10-08 15:20] HoneyBadgerSeeker commented on #59
Does anyone has an update on it please ? :)

[2021-10-08 16:14] keetron commented on #59
No I am sorry, I have not used Fitnesse in about 5 years.

[2021-10-08 18:03] Jessevanbekkum commented on #59
Me neither. I think I wrote one commit about 6 years ago. Can’t remember a
thing about this

Jesse

On Fri, 8 Oct 2021 at 18:14, Koen Prins ***@***.***> wrote:

[2021-10-11 13:22] HoneyBadgerSeeker commented on #59
We found a **workaround**: **launching our FitNesse test in Debug Mode**. This way, there are no errors and the test is executing properly.

Thanks @Jessevanbekkum & @keetron for your answer :)

[2021-10-12 10:08] Eemss commented on #59
Thank you @HoneyBadgerSeeker! The workaround of running the test in Debug Mode works like a charm!

[2021-10-12 10:34] HoneyBadgerSeeker commented on #59
Good to know, hopefully the plugin will be updated in the futur!

[2021-10-12 10:49] hordosikrisztian commented on #59
@HoneyBadgerSeeker , thank you for the tip, it works like a charm. :+1:
Here's hoping for an update, too.

[2021-10-13 06:48] keetron commented on #59
Feel free to write a PR, I'd say.

[2021-12-10 18:38] JThoennes commented on #59
Now the warning gets an real IDE error for IDEA 2021.3:
`com.intellij.diagnostic.PluginException: The default implementation of method 'getId' is deprecated, you need to override it in 'class fitnesse.idea.run.FitnesseRunConfigurationType$$anon$1'. The default implementation delegates to 'getName' which may be localized, but return value of this method must not depend on current localization. [Plu

[2021-12-11 07:30] hordosikrisztian commented on #59
I too experience the same bug, please address this issue as soon as possible as our team (and probably many others...) is depending on this plugin. @amolenaar or @fhoeben, could you please look into this? Thank you!

[2021-12-11 08:42] fhoeben commented on #59
@JThoennes I wouldn't mind doing a release, but don't have the time to do the change myself.

[2021-12-11 18:42] keetron commented on #59
Hokay, I will give it a try this week.

On Sat, 11 Dec 2021, at 09:42, Fried Hoeben wrote:

[2021-12-16 07:07] hordosikrisztian commented on #59
@keetron , thank you in advance! :slightly_smiling_face:

[2021-12-22 16:36] keetron commented on #59
The bad news: It is not an easy fix.
There is no good news, I did not fix it and not in the position to spend more time on this the coming weeks.

[2021-12-22 17:48] JThoennes commented on #59
Thanks for your time spent on this issue!
Please, could you summarize your findings?

[2021-12-29 16:06] keetron commented on #59
Hokay but this is also not a good news post.
For background: I did not use Fitnesse in about 5 years and am not planning to use it in the future. The minor bugfix I did in the past on this was like a three line commit. The plugin is written in Skala, a language I don't use. Never did any plugin development.

The problem is here:
```util.DeprecatedMethodException - The default implementation of met

[2021-12-31 12:27] fhoeben commented on #59
As a (maybe less drastic) additional option, besides @keetron's, to address the situation without a plugin fix I would add:

* Remove the plugin from IntelliJ edit/run tests from the wiki.

Large scope (e.g. global rename) manipulations can still be done from IntelliJ editing the wiki content as plain text, as can version control. Debugging fixtures or test pages is also not very hard to achieve b

[2021-12-31 13:40] keetron commented on #59
@fhoeben is correct of course. After not using Fitnesse for over 5 years, I forgot about the wiki completely.
The big benefit of using a JUnit test is that it becomes easier to integrate the wiki tests in the build cycle, if that is what you desire of course.

[2022-02-06 14:12] lehtmets commented on #59
I did some digging and to me it still seems like a easy fix. I will put together a pull request.

Actually two pull requests, the `Access is allowed from event dispatch thread only` problem is a separate problem that I also manage to solve (although the solution is a bit hacky.)

[2022-02-06 20:05] lehtmets commented on #59
@fhoeben I created the pull requests to the fork under the `fitnesse` organization, because it was 20 commits ahead of this one. Could you please review? I haven't written any Scala nor IntelliJ plugins before so please let me know if something is wrong.

[2022-02-09 10:26] vboulaye commented on #59
Hi,
I tested your fixes (by merging your 3 PRs).
It seems to work fine: no more error popups and the running fitnesse tests from IntelliJ worked!

In order to build the project, I had to use a jdk8 (I could not build with my default jdk11, didn't try jdk17) and I had to skip tests because a bunch of them failed, so maybe something is wrong in my environment. (but I do not know scala either so I do

[2022-02-22 14:38] Eemss commented on #59
So, how do we get our hands on this fixed version?

[2022-02-22 16:31] fhoeben commented on #59
@vboulaye Can you also take a look at my combination of the 3 PR: [fixes branch in the FitNesse fork of this repo](https://github.com/fitnesse/idea-fitnesse/tree/fixes). On top of @lehtmets changes I added test fixes and a FitNesse .

If these still address all issues I try to do a release to IntelliJ plugin marketplace

[2022-02-22 17:34] vboulaye commented on #59
I just re-built the plugin from the `fixes` branch and everything works (no more error popups + running a fitnesse test in the IDE)
All the unit tests did pass too.

Thanks!

[2022-02-23 22:25] fhoeben commented on #59
I just uploaded version 1.13.0 to the Marketplace.
I believe this issue is fixed (I tested with IntelliJ IDEA 2021.3.2 (Community Edition))

[2022-02-23 22:33] fhoeben opened #60 "Compatibility issue with IntelliJ Ultimate"
According to JetBrains' verification 1.13.0 does not work with the latest versions of IntelliJ Ultimate

[2022-02-25 12:05] Eemss commented on #59
Awesome, thanks all! I hereby declare this issue as closed ;-)

[2022-02-25 12:05] #59 closed, assigned to nobody

[2022-11-11 06:39] verenya opened #61 "Interview partners for research about communication in GitHub projects wanted"
Hi. My name is Verena Ebert, and I am a PhD student at the University of Stuttgart in Germany.
A few months ago, I have examined 90 GitHub projects to see what communication channels they use and how they write about them in the written documents, for example README or wiki. If you are interested in the previous results, you can find them here:
https://arxiv.org/abs/2205.01440
Your project was one